{% extends 'index.html' %}

{% load static %}

{% block site_title %}Про сайт{% endblock %}
{% block site_description %}{% endblock %}

{% block content %}
    <div style='padding:15px 20px'>
        <h2>О проекте</h2>
        <div style='font-size:15px; line-height:20px;'>
            Сайт “Карта репетиционных баз” был создан музыкантом для музыкантов. Когда в Киеве количество репетиционных баз, как и начинающих групп, резко стало увеличиваться - искать и сравнивать их по форумам становилось все сложнее, а найти базу в месте, куда было бы удобно добираться всем участникам группы - только усложняло эту задачу. Поэтому было принято решение собрать всю информацию о репетиционных базах на одном сайте.
            <p>Так сайт увидел свет в 2009 году, куда были добавлены первые 20 баз. Сейчас на сайте насчитывается более 100 баз с регулярными обновлениями и отзывами музыкантов.
            <p>По вопросам сотрудничества и предложениям пишите на info@base.kiev.ua
        </div>
    </div>
{% endblock %}
