{% extends 'index.html' %}
{% load static %}
{% load draw_stars %}

{% block site_title %}Список репетициооных баз. Рейтинг, контакты, цены репетиций.{% endblock %}

{% block content %}

    <script src='{% static 'js/sortabletable/js/sortabletable.js' %}' type='text/javascript'></script>
    <script src='{% static 'js/sortabletable/tr_color.js' %}' type='text/javascript'></script>
    <link href='{% static 'js/sortabletable/css/sortabletable.css' %}' type='text/css' rel='StyleSheet'>

    <div style="padding:15px 10px">
    <table border=0 class='sort-table' id='table_stock' cellspacing='1' width='100%'  style='background-color:#BEBEBE; '>
        <thead style='color:#000000'>
            <tr>
                <td width='100'>Рейтинг</td>
                <td>Название</td>
                <td>Адрес</td>
                <td>Описание</td>
                <td>Отзывы</td>
                <td>Средняя цена</td>
            </tr>
        </thead>
        <tbody id='t_body'>

            {% for base in bases %}
                <tr class='{% if base.vip > 0 %}vip{% endif %}'>
                    <td class='image'>
                        <a href='{% url 'details' base.url %}'>{$img}</a>
                    </td>
                    <td class='rating'>
                        {{ base.rating | draw_stars | safe }}
                    </td>
                    <td class='title'>
                        <a href='{% url 'details' base.url %}'>{{ base.name }}</a>
                    </td>
                    <td class='address'>{{ base.address }}</td>
                    <td class='description'>
                        <a href='{% url 'details' base.url %}' style='font-size:11px'>
                            {{ base.description | slice:"0:50" }}
                        </a>
                    </td>
                    <td class='comments'>$comments_count</td>
                    <td class='price'>{{ base.price }} грн</td>
                </tr>
            {% endfor %}

        </tbody>

        <tr>
            <td colspan=6 bgcolor='#F7F7F7'> Всего баз: <b>{{ bases | length }}</b>  </td>
        </tr>
    </table>
    </div>

    <script type='text/javascript'>
        var st1 = new SortableTable(document.getElementById('table_stock'),
        ['None', 'String', 'Number', 'String', 'String', 'Number', 'Number', 'None', $additional_col 'None']);
    </script>
    <script>
        trsetcolor('t_body', '#D6D7D8', '#ffffff');  // назначаем функции для изменения цвета при наведении миши
        trsetcolor_now('t_body', '#ffffff');     // красим единоразово ячейки
    </script>

{% endblock %}
