{% extends 'index.html' %}

{% load static %}
{% load draw_stars %}

{% block content %}

<script type="text/javascript">
    function initMaps() {

        function addMoreMarker(pos_x,pos_y,hint,descr,img_path,zindex) {
            var point = new google.maps.LatLng(pos_y,pos_x);
            var marker = new google.maps.Marker({
                position: point,
                map: map,
                title:hint,
                icon: img_path,
                zIndex: zindex
            });
            var infowindow = new google.maps.InfoWindow({
                content: descr,
                maxWidth: 300
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }

        var center_point = new google.maps.LatLng(50.455203,30.511413);
        var myOptions = {
            zoom: 11,
            center: center_point,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        {% for base in bases %}
            addMoreMarker(
                {{ base.pos_x }},
                {{ base.pos_y }},
                "{{ base.name }}",
                " IMAGE {{ base.description | slice:"0:300" }}... <p><a href='{% url 'details' base.url %}' style='font-size:14px;'><b>Подробнее</b></a>",
                '{% static base.marker %}',
                {{ base.zindex }}
            );

            {% if single_base %}
                map.setCenter(new google.maps.LatLng({{ base.pos_y }}, {{ base.pos_x }}));
                map.setZoom(17);
            {% endif %}
        {% endfor %}



    }

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVMQO9ASVnYw6XIWotOftE7cTs5ZV_ETU">	</script>

{% if single_base %}
    <div style="padding: 10px 15px;">
        {% for base in bases %}
            <h1>{{ base.name }}</h1>
            <h3>{{ base.address }}</h3>
        {% endfor %}
    </div>
{% else %}
    <div id='slides'>
        <a href="#" class="slidesjs-previous slidesjs-navigation"><span class="icon nav next"></span></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><span class="icon nav prev"></span></a>

        <div class='hotItems desktop'>
            {% for base in bases_latest %}
                <a class='item {% if base.vip > 0 %}vip{% endif %}' href='{% url 'details' base.url %}'>
                    <div class='header'>{{ base.name }}</div>
                    <div class='rating'>{{ base.rating | draw_stars | safe }}</div>
                    <div class='main'>{{ base.address }}</div>
                </a>
                {% if forloop.counter == 6 %}
                    </div> <div class='hotItems'>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="hotItems mobile">
        {% for base in bases_latest %}
            <a class='item {% if base.vip > 0 %}vip{% endif %}' href='{% url 'details' base.url %}'>
                <div class='header'>{{ base.name }}</div>
                <div class='rating'>{{ base.rating | draw_stars | safe }}</div>
                <div class='main'>{{ base.address }}</div>
            </a>
        {% endfor %}
    </div>
{% endif %}


<div id='map_canvas' ></div>

<div  style='display:block; width:100%; border:0px solid #D4D4D4; padding:10px; margin:10px auto ;  box-sizing:border-box;'>
<table border=0 width='100%'>
    <tr>
        <td><img src='{% static 'images/markers/pointer_red.png' %}/'></td><td style='text-align:left'>Репетиционная база</td>
        <td><img src='{% static 'images/markers/pointer_star.png' %}/'></td><td style='text-align:left'>База с высоким рейтингом</td>
        <td><img src='{% static 'images/markers/pointer_grey.png' %}/'></td><td style='text-align:left'>База с устаревшими данными</td>
    </tr>
</table>
</div>



{% endblock %}
