{% extends "control/cms.html" %}

{% block content %}
    <h1>Репетиционные базы</h1>

    {% for base in bases %}
        <div class="cms-panel">
            <h3>{{ base.name }}</h3>
            {{ base.address }}

            <p>
                <a href="{% url 'edit_base' base.id %}" class="pure-button pure-button-primary">
                    <i class="fa fa-pen"></i>
                    Редактировать
                </a>
                <a href="{% url 'block_base' base.id %}" class="pure-button">
                    <i class="fa fa-ban"></i>
                    Деактивировать
                </a>
            </p>
        </div>
    {% endfor %}
{% endblock %}
