{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Карта репетиционных баз - панель управления</title>
    <link rel="stylesheet" href="{% static 'control.css' %}">
    <link rel="stylesheet" href="{% static 'pure-min.css' %}">
    <script src="js/map.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>

<body background='images/bg.gif'>

    {% block overall_content %}

    {% endblock %}

</body>
