#menu {
    width: 240px;
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    box-shadow: inset -2px 0 6px #131313;
}

#menu .list a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    padding: 0 10px;
    color: white;
}

#menu .list a:hover {
    color: black;
}

#menu .add-padding {
    padding: 10px 10px;
}

#menu i {
    margin-right: 7px;
}

#content {
    padding: 10px;
    padding-left: 250px;
}

.cms-panel {
    box-shadow: 1px 0px 3px #cbcbcb;
    padding: 10px 20px;
    margin-bottom: 16px;
}

.cms-message {
    background-color: #e0e8da;
    padding: 20px 30px;
    font-size: 18px;
}
